/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}*/

.title {
  font-size: 100px;
}


.navbar {
  padding: 10px 30px;
}

.navbar .navbar-brand {
  margin-right: 30px;
  font-size: 27px;
  letter-spacing: 1px;
  color: #61dafb;
  font-weight: bold;
}

.navbar .nav-item {
  font-size: 18px;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #61dafb;
}

.navbar .bwm-search {
  height: 40px;
  width: 250px;
}

.btn.btn-bwm-main {
  border-color: #61dafb;
  color: #61dafb;
}

.btn.btn-bwm-main:hover, .btn.btn-bwm-main:focus, .btn.btn-bwm-main:active {
  background-color: #61dafb;
  border-color: #61dafb;
  color: white;
  box-shadow: none;
} 
